<!DOCTYPE html>
<html>

<head>
    <title>JS 310b Assignment "{{ one | e }}"</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <meta charset "utf-8">
    <h1>JS 310b Assignment {{ assignment }}</h1>
</head>
<body>
    <script src="/js/assignment{{ assignment }}.js"></script>
</body>

</html>