<!DOCTYPE html>
<html>

<head>
    <title>JS 310b Assignments</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <meta charset "utf-8">

</head>

<h1>Javascript Assignments</h1>

<body>
    <p>
        <li>
            <a href=http://0.0.0.0:8000/assignment/1>Assignment One</a>
        </li>
        <li>
            <a href=http://0.0.0.0:8000/assignment/2>Assignment Two</a>
        </li>
        <li>
            <a href=http://0.0.0.0:8000/assignment/3>Assignment Three</a>
        </li>
        <li>
            <a href=http://0.0.0.0:8000/assignment/4>Assignment Four</a>
        </li>
    </p>

    <body>

</html>